.gridItem {
  display: grid;

  grid-template-rows: auto 1fr;
  gap: 1px;
}

.gridItemHeader {
  padding: 8px;
}

.gridItemScrollable {
  display: grid;
  overflow: scroll;
  flex: 1;

  grid-template-rows: auto;
  gap: 1px;
}
