.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: var(--gap);
  overflow-y: scroll;
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: var(--gap);
  position: sticky;
  top: 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  .logo {
    max-height: 24px;
    width: auto;
  }
  .source {
    color: #000;
    border: 0;
    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
