.wrapper {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  @media (min-width: 1000px) {
    margin: 0 8px 8px;
  }
}
.feed {
  flex: 1;
  padding-right: 4px;
  @media (min-width: 1000px) {
    padding-right: 6px;
  }
}
.center {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #3498db;
}
