.wrapper {
  height: -webkit-fill-available;
  display: grid;
  grid-gap: var(--gap);
}
.center {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--blue);
}
