:root {
  --gap: 8px;
  --blue: #3498db;
  --background: #f4f8fb;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  margin: 0;
  overflow: hidden;
  // font-size: 1.4rem;
}

.app {
  display: grid;
  height: 100vh;
  grid-gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
