.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: calc(var(--spacing) * 2);
}

button {
  margin-left: var(--spacing);

  color: var(--color-text-3);
}

button:first-child {
  margin-left: unset;

  color: var(--color-text);
}

button:hover {
  color: var(--color-text-2);
}

button.active {
  color: var(--color-text);
}
