.link {
  display: block;
}

.link:hover .title {
  text-decoration: line-through;
}
.link:hover .preamble {
  color: var(--color-text);
}

.link:visited .title,
.link:visited .preamble,
.link:visited .published {
  text-decoration: line-through;

  color: var(--color-text-3);
}

.item {
  margin-bottom: calc(var(--spacing) * 3);
}

.preamble {
  color: var(--color-text-2);

  font-size: 1rem;
}

.published {
  display: flex;
  align-items: center;

  margin-top: var(--spacing);

  color: var(--color-text-2);

  font-size: 0.8rem;
}

.published svg {
  margin-right: calc(var(--spacing) / 2);
}

.star {
  margin-right: calc(var(--spacing) / 3);

  transform: scale(0.7);
}

.spacer {
  display: block;

  width: var(--spacing);
}
