.app {
  display: grid;

  height: 100vh;

  grid-template-rows: auto 1fr;
  &__feeds {
    display: grid;

    padding: $gap;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: $gap;
  }
}

.tooltip {
  font-size: 12px !important;
}
