.app {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__feeds {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'template-area-feed-1 template-area-feed-2 template-area-feed-3'
      'template-area-feed-4 template-area-feed-5 template-area-feed-6';
  }

  .feed {
    @for $i from 1 to 6 {
      &:nth-child(#{$i}) {
        grid-area: template-area-feed-#{$i};
      }
    }
  }
}

.tooltip {
  font-size: 12px !important;
}
