/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow: hidden;

  margin: 0;

  background-color: $background;

  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.ml {
  margin-left: $gap;
}
.mr {
  margin-left: $gap;
}

small {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}