[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  box-sizing: content-box;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
button:focus,
button:active,
button:hover,
button {
  overflow: visible;

  padding: 8;

  user-select: none;

  border: 0;
  background: none;
  box-shadow: none;
  text-shadow: none;

  font: inherit;
  line-height: normal;
}

[role='button'] {
  display: inline-block;

  cursor: default;
  user-select: none;
  text-align: center;
  white-space: pre;
  text-decoration: none;

  color: inherit;
}

.spin {
  align-items: center;
  justify-content: center;

  transform: scaleX(-1);
  &--active {
    svg {
      transform-origin: 56% 50%;
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
