.feed {
  display: grid;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  grid-template-rows: auto 1fr;
  grid-gap: $gap;
  &__header-icon-select-wrapper {
    display: flex;
    align-items: center;
  }
  &__header {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: $gap;
  }
  &__header-icon {
    width: auto;
    height: 24px;
    margin-right: $gap;
    padding: 6px 2px;

    &:hover {
      cursor: pointer;
    }
  }
}
.feed-select {
  display: flex;
  align-items: center;
  flex-direction: row;

  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
}
.feed-items {
  &__wrapper {
    display: grid;

    height: -webkit-fill-available;

    grid-gap: $gap;
  }
  &__center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.feed-item {
  display: flex;
  justify-content: space-between;

  &__item {
    flex: 4;

    padding: $gap;
  }
  &__link {
    overflow: -webkit-paged-x;

    border-bottom: 0;
  }
  &__title {
    display: block;

    margin-bottom: 0.2em;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.25;
  }
  &__image {
    flex: 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__description {
    margin-top: 0;
    margin-bottom: 0.2em;

    font-size: 0.9em;
    line-height: 1.5;
  }
  &__published {
    font-size: 0.8em;
  }
}
