.select {
  font-family: 'Roboto', sans-serif;
  svg {
    margin-left: $gap / 2;
  }
  &__anchor {
    position: relative;

    display: flex;
    align-items: center;

    margin: 0;
    padding-right: $gap;

    text-decoration: none;

    color: #333;
    border-bottom: none;
    border-radius: 4px;

    font-weight: 400;
    &:hover {
      cursor: pointer;

      color: #333;
      background-color: $background;
    }
    &--active {
      background-color: $background;
    }
  }
  &__logo {
    width: $logoSize;
    height: $logoSize;
    margin-right: $gap;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
  }
  &__drop {
    display: none;
    &--active {
      position: absolute;
      top: ($gap * 1.5) + $logoSize;
      left: $gap;

      display: block;
      overflow-x: hidden;
      overflow-y: scroll;

      min-width: 210px;
      max-height: 200px;
      margin: 0;
      padding: 0;

      list-style-type: none;

      border: 1px solid $border;
      border-radius: 4px;
      background-color: white;
      box-shadow: 0 0.5px 10px 0 rgba($color: #666, $alpha: 0.1);
    }
  }
  &__drop-item {
    display: flex;
    align-items: center;
    flex-direction: row;

    padding: $gap / 2;
    &:hover {
      cursor: pointer;

      background-color: $background;
    }
  }
  &__drop-item-logo {
    display: block;

    width: 26px;
    height: 26px;
    margin-right: $gap;
  }
}
