.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  padding: $gap ($gap * 2);

  &__logo {
    width: auto;
    height: $logoSize;

    border-radius: 4px;
  }
}
