.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $gap ($gap * 2);

  border-bottom: 1px solid $border;
  background-color: #fff;

  &__logo {
    width: auto;
    height: $logoSize;

    border-radius: 4px;
  }
}
