.app--theme-light {
  // Body
  body & {
    color: $colorNormal;
    background-color: $background;
  }
  // Button
  input[type='submit'],
  input[type='reset'],
  input[type='button'],
  button:focus,
  button:active,
  button:hover,
  button {
    color: $colorNormal;
    background-color: $background;
    &:hover {
      color: $colorDarker;
    }
  }
  // Feed
  .feed {
    &__header {
      border-top: 1px solid $border;
      background-color: $defaultBackground;
      box-shadow: 0 0 10px 0 $border;
    }
    &__header-icon {
      background-color: $background;
    }
  }
  .feed-select {
    &:hover {
      background-color: $border;
    }
  }
  .feed-item {
    border-bottom: 1px solid $border;
    &__link {
      background-color: $defaultBackground;
    }
    &__title {
      color: $colorDarker;
    }
    &__image {
      border-left: ($gap / 2) solid $background;
      background-color: $background;
    }
    &__description {
      color: $colorNormal;
    }
    &__published {
      color: $colorLighter;
    }
  }
  // Scrollbar
  ::-webkit-scrollbar {
    border: 1px solid rgba($color: $border, $alpha: 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
  // Select
  .select {
    &__anchor {
      color: $colorDarker;
      &:hover {
        color: $colorDarker;
        background-color: $background;
      }
      &--active {
        background-color: $background;
      }
    }
    &__logo {
      background-color: $defaultBackground;
    }
    &__drop {
      &--active {
        border: 1px solid $border;
        background-color: $defaultBackground;
        box-shadow: 0 0.5px 10px 0 rgba($color: $colorNormal, $alpha: 0.1);
      }
    }
    &__drop-item {
      font-size: 0.9em;
      &:hover {
        background-color: $background;
      }
    }
  }
  // Settings
  .settings {
    border-bottom: 1px solid $border;
    background-color: $defaultBackground;
  }
}
.app--theme-light {
  .feed-item__link:visited {
    .feed-item__title,
    .feed-item__description {
      color: $colorLighter !important;
    }
  }
}

.app--theme-dark {
  // Body
  body & {
    color: $colorNormal--theme-dark;
    background-color: $background--theme-dark;
  }
  // Button
  input[type='submit'],
  input[type='reset'],
  input[type='button'],
  button:focus,
  button:active,
  button:hover,
  button {
    color: #75787f;
    background-color: #2c3038;
    &:hover {
      background-color: shade(#2c3038, 10);
    }
  }
  // Feed
  .feed {
    &__header {
      border-top: 1px solid $border--theme-dark;
      border-bottom: 1px solid $border--theme-dark;
      background-color: $defaultBackground--theme-dark;
    }
    &__header-icon {
      background-color: $background--theme-dark;
    }
  }
  .feed-select {
    &:hover {
      background-color: $border--theme-dark;
    }
  }
  .feed-item {
    border-bottom: 1px solid $border--theme-dark;
    &__link {
      background-color: $defaultBackground--theme-dark;
    }
    &__title {
      color: $colorDarker--theme-dark;
    }
    &__image {
      border-left: ($gap / 2) solid $background--theme-dark;
      background-color: $background--theme-dark;
    }
    &__description {
      color: $colorNormal--theme-dark;
    }
    &__published {
      color: $colorLighter--theme-dark;
    }
  }
  // Scrollbar
  ::-webkit-scrollbar {
    border-radius: 4px;
    background-color: $border--theme-dark;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $primary--theme-dark;
  }
  // Select
  .select {
    &__anchor {
      color: $colorDarker--theme-dark;
      &:hover {
        color: $colorDarker--theme-dark;
        background-color: $background--theme-dark;
      }
      &--active {
        background-color: $background--theme-dark;
      }
    }
    &__logo {
      background-color: $defaultBackground--theme-dark;
    }
    &__drop {
      &--active {
        border: 1px solid $border--theme-dark;
        background-color: $defaultBackground--theme-dark;
      }
    }
    &__drop-item {
      color: $colorDarker--theme-dark;

      font-size: 0.9em;
      &:hover {
        background-color: $background--theme-dark;
      }
    }
  }
  // Settings
  .settings {
    border-bottom: 1px solid $border--theme-dark;
    background-color: $defaultBackground--theme-dark;
  }
}
.app--theme-dark {
  .feed-item__link:visited {
    .feed-item__title,
    .feed-item__description {
      color: $colorLighter--theme-dark !important;
    }
  }
}
